
<div class="row">
    <div class="col-xs-12">
     
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      
      <table class="table table-striped" >
        <thead>
          <tr>
            <th colspan="3">
              
            </th>
          </tr>
          <tr>
            <th>
              #
            </th>
            <th>
              <a>Nombre</a>
            </th>
            <th>
                <a>CodigoComercio</a>
              </th>
              <th>
                <a>TipoOperacion</a>
              </th>
              <th>
                <a>FechaOperacion</a>
              </th>
              <th>
                <a>HoraOperacion</a>
              </th>
              <th>
                <a>NumeroReferencia</a>
              </th>
              <th>
                <a>Emisor</a>
              </th>
              <th>
                <a>FechaProceso</a>
              </th>
              <th>
                <a>ImporteBruto</a>
              </th>
              <th>
                <a>ComEmisor</a>
              </th>
              <th>
                <a>ComMerchant</a>
              </th>
              <th>
                <a>ComTotal</a>
              </th>     
              <th>
                <a>IGV</a>
              </th>
              <th>
                <a>ImporteNeto</a>
              </th>
              <th>
                <a>CodigoMon</a>
              </th>
              <th>
                <a>TarjetaMask</a>
              </th>
              <th>
                <a>Ruc</a>
              </th>
              <th>
                <a>Autorizacion</a>
              </th>
              <th>
                <a>CodVisanet</a>
              </th>
              <th>
                <a>FechaAbono</a>
              </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of conciliacion; let i = index" >
            <td>{{i + 1}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.codigoComercio}}</td>
            <td>{{p.tipoOperacion}}</td>
            <td>{{p.fechaOperacion}}</td>    
            <td>{{p.horaOperacion}}</td>  
            <td>{{p.numeroReferencia}}</td>  
            <td>{{p.emisor}}</td>  
            <td>{{p.fechaProceso}}</td>  
            <td>{{p.importeBruto}}</td>  
            <td>{{p.comEmisor}}</td>  
            <td>{{p.comMerchant}}</td>  
            <td>{{p.comTotal}}</td>  
            <td>{{p.ivg}}</td>  
            <td>{{p.importeNeto}}</td>  
            <td>{{p.codigoMonCodigoMon}}</td>  
            <td>{{p.tarjetaMask}}</td>  
            <td>{{p.ruc}}</td>  
            <td>{{p.autorizacion}}</td>  
            <td>{{p.codVisanet}}</td>  
            <td>{{p.fechaAbono}}</td>  
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>